@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Lato:wght@300;400&display=swap');

.footer {
    background: linear-gradient(45deg, #1E3A8A, #2563EB);
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: 'Lato', sans-serif; /* Apply Lato to general text */
    border-radius: 10px;
}

.footer .container {
    max-width: 1150px;
    margin: auto;
    padding: 0 10px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
    margin-right: 25px;
}

.footer-section h3 {
    font-size: 23px;
    margin-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-weight: 400;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
    font-style: italic;
    color:rgb(193, 193, 220);
}

/* Footer Logo */
.footer-logo {
    width: 100px;
    height: auto;
    border-radius: 30%;
}

/* Social Icons */
.social-icons {
    margin-top: 10px;
   display: flex;
   flex-direction: column;
}
.bi{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.social-icons a {
    color:rgb(193, 193, 220);
    font-size: 24px;
    margin-right: 15px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #0f033f;
}



/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo {
        max-width: 80px;
    }
}
